
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>@{{User.username}}</strong>
                                <br>
                                {{content}}
                            </p>
                        </div>
                    </div>
                </article>