<div id="following{{following_id}}" class="media-content cell has-background-dark">
    <div class="content">
        <p>
            <strong>{{username}}</strong> <small>{{formatTime createdAt}}</small>
        </p>
    </div>
</div>
<br>

<script src="/js/following.js" data-following="{{following_id}}"></script>