<div id="followers{{follower_id}}" class="media-content cell has-background-dark">
    <div class="content">
        <p>
            <strong>{{username}}</strong> <small>{{formatTime createdAt}}</small>
        </p>
    </div>
</div>
<br>

<script src="/js/followers.js" data-followers="{{follower_id}}"></script>