<div id="{{id}}" class="media-content cell has-background-dark">
    <div class="content">
        <p>
            <strong>{{title}}</strong> <small>{{formatTime createdAt}}</small>
            <br />
            {{content}}
        </p>
    </div>
</div>