
<form id="about">
<div>
        <h1 class="has-text-centered title is-1">About You</h1>
    </div>

<br>
        <!--enter description-->
  <div class="columns is-centered is-vcentered">
    <div class="column is-half">
      <textarea id="user-description"  class= "textarea has-fixed-size" rows="5" placeholder="Description"></textarea> 
    </div>
  </div>

  <br>

        <!--dropdown to enter units-->
        <div class="columns is-centered is-vcentered">
          <div class="select is-info is-hovered is-normal">
            <select class="dropdown-trigger" id="units">
              <option value="">Kilometers</option>
              <option value="True">Miles</option>
            </select>
          </div>
        </div>
        
<br>
        <!--enter gender-->
          <div class="columns is-centered is-vcentered">
            <div class="column is-half">
              <input id="user-gender" class="input is-fullwidth" placeholder="Gender"></input>
            </div>
          </div>
<br>
          <!--enter country-->
          <div class="columns is-centered is-vcentered">
            <div class="select is-info is-hovered is-normal">
              <select class="dropdown-trigger" id="user-country">
                <option value="">Select Country</option>
                <option value="United States">USA</option>
                <option value="Canada">CAN</option>
                <option value="Mexico">MEX</option>
                <option value="Brazil">BRA</option>
                <option value="Australia">AUS</option>
                <option value="United Kingdom">GBR</option>
                <option value="France">FRA</option>
                <option value="Germany">DEU</option>
                <option value="Japan">JPN</option>
                <option value="China">CHN</option>
              </select>
            </div>
          </div>


        <br>
<!--save info button-->
    <section>
      <div class="columns is-centered is-vcentered">
        <button id="add-info" class="button is-medium is-info" disabled>Add my info</button>
      </div>
    </section>

    <br>
    <br>

    </form>

  <!--this should take the user back to their profile-->  
    <section>
        <div>
          <div class="columns is-centered is-vcentered">
            <button class="about-form button is-text" href="/views/myProfile.handlebars">Finish Later</button>
          </div>
           
        </div>
    </section>
  <script src="/js/about.js"></script>

