<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <title>FiTrack</title>
  </head>


<br>

<body>

    <div>
        <h1 class="has-text-centered title is-1">About You</h1>
    </div>

<br>
        <!--enter description-->
  <div class="columns is-centered is-vcentered">
    <div class="column is-half">
      <textarea class= "textarea has-fixed-size" rows="5" placeholder="Description"></textarea> 
    </div>
  </div>

  <br>

        <!--dropdown to enter units-->
        <div class="columns is-centered is-vcentered">
          <div class="select is-info is-hovered is-normal">
            <select class="dropdown-trigger" >
              <option value="kilometers">Kilometers</option>
              <option value="miles">Miles</option>
            </select>
          </div>
        </div>
        
<br>
        <!--enter gender-->
          <div class="columns is-centered is-vcentered">
            <div class="column is-half">
              <input class="input is-fullwidth" placeholder="Gender"></input>
            </div>
          </div>
<br>
          <!--enter country-->
          <div class="columns is-centered is-vcentered">
            <div class="column is-half">
              <input class="input is-fullwidth" placeholder="Country"></input>
            </div>
        </div>


        <br>
<!--save info button-->
    <section>
        <div class="columns is-centered is-vcentered">
            <button class="button is-medium is-info">Add my info</button>
        </div>
    </section>

    <br>
    <br>

  <!--this should take the user back to their profile-->  
    <section>
        <div>
          <div class="columns is-centered is-vcentered">
            <button class="button is-text">Finish Later</button>
          </div>
            <link href="">
        </div>
    </section>



</body>