

  <h1 class="has-text-centered title is-1">FiTrack</h1>


<form>
  <div class="columns is-centered is-vcentered">
    <div class="column is-half">
      <input class="input is-fullwidth" placeholder="Search"></input>
      <button type="submit">Search</button>
      {{#each users}}
  <p> users</p>
      {{/each}}
    </div>
  </div>
</form>

<script src="/js/search.js"></script>




