  <h1 class="has-text-centered title is-1">FiTrack</h1>


<form>
  <div class="mr-5 mt-1">
    <button id="profileBtn" class="button is-pulled-right is-info is-medium is outlined">Profile</button>
  </div>
</form>

<form>
  <div class="columns is-centered is-vcentered">
    <div class="column is-half">
      <input class="input is-info is-fullwidth" placeholder="Search"></input>
      <br>

      <button class="button is-info is-outlined is-centered is-vcentered" type="submit">Search</button>
    </div>
  </div>
</form>

{{#each latestPosts}}
{{> postCard}}
{{/each}}

<script src="/js/home.js"></script>
<script src="/js/post.js"></script>




