
  <br>
  
    <header>
        <h1 class="has-text-centered title is-1">FiTrack</h1>
    </header>
    

<br>
<form>
<!--user enters their email-->
    <section>
      <div class="columns is-centered is-vcentered">
        <div class="column is-half">
          <input class="input is-info is-fullwidth" type="email" id="email-login" placeholder="email"></input> 
        </div>
      </div>
    </section>
        
    <br>
    
<!--user enters their password-->
    <section>
      <div class="columns is-centered is-vcentered">
        <div class="column is-half">
          <input class= "input is-info is-fullwidth" id="password-login" type="password" placeholder="password"></input> 
        </div>
      </div>
  
    </section>   
    
   <br> 

<!--log in button-->   
    <section>
      <div class="columns is-centered is-vcentered">
        <div class="column is-half">
          <button id="sumbitButton" class="login-form button is-medium container is-info is-fullwidth" type="submit">Log In</button>
        </div>
      </div>
    </section>

<!--sign-up in button-->  
    <section>
      <div class="columns is-centered is-vcentered">
        <div class="column is-half">
          <button id="signupButton" class="signup-form button is-medium container is-info is-fullwidth" type="submit">Sign Up!</button>
        </div>
      </div>
    </section>

</form>




<script src="/js/login.js"></script>

