<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <title>FiTrack</title>
  </head>

  <br>
  
    <header>
        <h1 class="has-text-centered title is-1">FiTrack</h1>
    </header>
    
    <body>
<br>
<!--user enters their email-->
    <section>
      <div class="columns is-centered is-vcentered">
        <div class="column is-half">
          <input class="input is-info is-fullwidth" type="email" id="email-login" placeholder="email"></input> 
        </div>
      </div>
    </section>
        
    <br>
    
<!--user enters their password-->
    <section>
      <div class="columns is-centered is-vcentered">
        <div class="column is-half">
          <input class= "input is-info is-fullwidth" id="password-login" type="password" placeholder="password"></input> 
        </div>
      </div>
  
    </section>   
    
   <br> 

<!--log in button-->   
    <section>
      <div class="columns is-centered is-vcentered">
        <div class="column is-half">
          <button class="button is-medium container is-info is-fullwidth">Log In</button>
        </div>
      </div>
    </section>

  </body>

<script src="/public/login.js"></script>

</html>
