<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <title>FiTrack</title>
  </head>



<body>

  <h1 class="has-text-centered title is-1">FiTrack</h1>

<section>
  <div class="columns is-centered is-vcentered">
    <div class="column is-half">
      <input class="input is-fullwidth" placeholder="Search"></input>
    </div>
  </div>
</section>


<!--we add handlebars to display the lastest posts-->


</body>