 <br>
  <body>
    <header>
        <h1 class="has-text-centered title is-1" >Sign Up</h1>
    </header>
    
    <br>

<form>
<!--user enters their full name-->
    <section>
        <div class="columns is-centered is-vcentered">
            <div class="column is-half" >
                <input class="input is-fullwidth" id="name-signup" type="text" placeholder="full name"></input> 
            </div>
        </div> 
    </section>    
    
    <br>

<!--user enters their username-->
    <section>
        <div class="columns is-centered is-vcentered">
            <div class="column is-half">
                <input class="input" id="username-signup" type="text" placeholder="username"></input> 
            </div>
        </div>
    </section>    
        
    <br>
<!--user enters their email-->
    <section>
        <div class= "columns is-centered is-vcentered">
            <div class= "column is-half" >
                <input  class="input" id="email-signup" type="email" placeholder="email"></input> 
            </div>
        </div>
    </section>   

    <br>
<!--password-->    
    <section>
        <div class="columns is-centered is-vcentered">
            <div class="column is-half">
                <input class="input" id="password-signup" type="text" placeholder="password"></input> 
            </div>
        </div>
    </section>    
        
    <br>
        
    <br>

    <section>
        <div class= "columns is-centered is-vcentered">
            <div class="column is-half">
                <button class="button is-medium container is-fullwidth is-centered ">Sign up!</button>
            </div>
        </div>
        
    </section>
</form>

<script src="/js/login.js"></script>

