<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <title>Sign up</title>
  </head>

  <br>
  <body>
    <header>
        <h1 class="has-text-centered title is-1" >Sign Up</h1>
    </header>
    
    <br>


<!--user enters their full name-->
    <section>
        <div class="columns is-centered is-vcentered">
            <div class="column is-half" >
                <input class="input is-fullwidth" id="fullName" type="text" placeholder="full name"></input> 
            </div>
        </div> 
    </section>    
    
    <br>

<!--user enters their username-->
    <section>
        <div class="columns is-centered is-vcentered">
            <div class="column is-half">
                <input class="input" id="enterEmail" type="text" placeholder="username"></input> 
            </div>
        </div>
    </section>    
        
    <br>
<!--user enters their email-->
    <section>
        <div class= "columns is-centered is-vcentered">
            <div class= "column is-half" >
                <input  class="input" id="enterEmail" type="email" placeholder="email"></input> 
            </div>
        </div>
    </section>   

    <br>
<!--password-->    
    <section>
        <div class="columns is-centered is-vcentered">
            <div class="column is-half">
                <input class="input" id="enterEmail" type="text" placeholder="password"></input> 
            </div>
        </div>
    </section>    
        
    <br>

<!--re-enter password-->    
    <section>
        <div class="columns is-centered is-vcentered">
            <div class="column is-half">
                <input class="input" id="enterEmail" type="text" placeholder="re-enter password"></input> 
            </div>
        </div>
    </section>    
        
    <br>

    <section>
        <div class= "columns is-centered is-vcentered">
            <div class="column is-half">
                <button class="button is-medium container is-fullwidth is-centered ">Register!</button>
            </div>
        </div>
        
    </section>

  </body>

</html>